<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box; font-size: 100%; height: 100%;">
 <head style="box-sizing: border-box;">
  <meta charset="utf-8" style="box-sizing: border-box;" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" style="box-sizing: border-box;" />
  <title style="box-sizing: border-box;">template</title>
  <meta content="authenticity_token" name="csrf-param" style="box-sizing: border-box;" />
  <meta content="rXsSURQA1trXg4Ep6H0CPxudtre4RJRCvU0MMRSAzLQZcJ8HxvomjGeEBVZOSW6dfT9Rh7nW8MIpTj2/Fp41gw==" name="csrf-token" style="box-sizing: border-box;" />
 </head>
</html>
<body style="background: #fff; box-sizing: border-box; color: #2E3E51; cursor: auto; font-family: 'Fira Sans', sans-serif; font-size: 100%; font-style: normal; font-weight: normal; height: 100%; line-height: 1.5; margin: 0; padding: 0; position: relative;">
 <div class="ud-mt-mail-cover" style="box-sizing: border-box; margin: 0; padding: 0;">
  <div class="ud-mt-mail" style="box-sizing: border-box; margin: 0 auto; min-height: 300px; padding: 0; width: 585px;">
   <div class="ud-mt-header" style="background-color: #2E2E36; box-sizing: border-box; height: 120px; margin: 0; padding: 0; position: relative; width: 100%;">
    <div class="ud-mt-header-inner" style="box-sizing: border-box; margin: 0; padding: 0 32px;">
     <div class="ud-mt-logo" style="box-sizing: border-box; float: left; margin: 0; padding: 0; padding-top: 10px; width: 250px;"><a style="box-sizing: border-box; color: #008CBA; line-height: inherit; text-decoration: none;"><img alt="Ud logo diamond" class="ud-mt-logo-ico" src="http://ud.voroninstudio.eu/assets/UD-logo-diamond.png" style="border: none; box-sizing: border-box; display: inline-block; height: auto; max-width: 100%; vertical-align: middle; width: 100px;" /><img alt="Uad logo textpart" class="ud-mt-logo-label" src="http://ud.voroninstudio.eu/assets/UAD-logo-textpart.png" style="border: none; box-sizing: border-box; display: inline-block; height: auto; max-width: 100%; position: relative; top: 15px; vertical-align: middle; width: 150px;" /></a></div>
     <ul class="ud-mt-socials" style="box-sizing: border-box; float: right; font-family: inherit; font-size: 1rem; height: 40px; line-height: 1.6; list-style: none; list-style-position: outside; margin: 0; margin-bottom: 1.25rem; margin-left: 1.1rem; margin-top: 40px; padding: 0;">
      <li style="box-sizing: border-box; float: left; height: 40px; margin: 0; padding: 0; width: 40px;"><a href="" rel="nofollow" style="box-sizing: border-box; color: #008CBA; display: block; height: inherit; line-height: inherit; text-decoration: none; width: inherit;"><img alt="Ud social facebook" src="http://ud.voroninstudio.eu/assets/UD-social-facebook.png" style="border: none; box-sizing: border-box; display: inline-block; height: 24px; margin: 8px; max-width: 100%; vertical-align: middle; width: 24px;" /></a></li>
      <li style="box-sizing: border-box; float: left; height: 40px; margin: 0; padding: 0; width: 40px;"><a href="" rel="nofollow" style="box-sizing: border-box; color: #008CBA; display: block; height: inherit; line-height: inherit; text-decoration: none; width: inherit;"><img alt="Ud social twitter" src="http://ud.voroninstudio.eu/assets/UD-social-twitter.png" style="border: none; box-sizing: border-box; display: inline-block; height: 24px; margin: 8px; max-width: 100%; vertical-align: middle; width: 24px;" /></a></li>
      <li style="box-sizing: border-box; float: left; height: 40px; margin: 0; padding: 0; width: 40px;"><a href="" rel="nofollow" style="box-sizing: border-box; color: #008CBA; display: block; height: inherit; line-height: inherit; text-decoration: none; width: inherit;"><img alt="Ud social insta" src="http://ud.voroninstudio.eu/assets/UD-social-insta.png" style="border: none; box-sizing: border-box; display: inline-block; height: 24px; margin: 8px; max-width: 100%; vertical-align: middle; width: 24px;" /></a></li>
     </ul>
    </div>
   </div>
   <div class="ud-mt-main ud-mt-confirmation" style="box-sizing: border-box; margin: 0; min-height: 250px; padding: 0;">
    <div class="ud-mt-white" style="background-color: #fff; box-sizing: border-box; margin: 0; padding: 0 32px; padding-bottom: 20px; padding-top: 30px;">
     <div class="ud-mt-row" style="box-sizing: border-box; height: 110px; margin: 0; margin-bottom: 30px; padding: 0;">
      <div class="ud-mt-image" style="box-sizing: border-box; float: left; margin: 0; padding: 0; width: 151px;"><img alt="Uad email 1 1" src="http://ud.voroninstudio.eu/assets/UAD-email-1-1.jpg" style="box-sizing: border-box; display: inline-block; height: auto; max-width: 100%; vertical-align: middle; width: 100%;" /></div>
      <div class="ud-mt-title" style="box-sizing: border-box; float: left; margin: 0; margin-left: 18px; padding: 0; width: 350px;">
       <h2 style="box-sizing: border-box; color: #D03F4A; font-family: 'Fira Sans', sans-serif; font-size: 1.8125rem; font-style: normal; font-weight: 500; line-height: 1.875rem; margin: 0; margin-bottom: 0.5rem; margin-top: 0.2rem; padding: 0; text-rendering: optimizeLegibility;"> E-mail confirmation </h2><a style="box-sizing: border-box; color: #287FB8; font-family: 'Fira Sans', sans-serif; font-size: 0.875rem; font-style: italic; font-weight: 300; line-height: 1.5rem; text-decoration: none;">Please confirm your email address.</a></div>
     </div>
     <h3 style="box-sizing: border-box; color: #D03F4A; font-family: 'Fira Sans', sans-serif; font-size: 1.3125rem; font-style: normal; font-weight: 500; line-height: 1.5625rem; margin: 0; margin-bottom: 23px; margin-top: 0.2rem; padding: 0; text-rendering: optimizeLegibility;"> Please take a second to confirm your account </h3>
     <p style="box-sizing: border-box; color: #404049; font-family: 'Fira Sans', sans-serif; font-size: 0.875rem; font-weight: 300; line-height: 1.3125rem; margin: 0; margin-bottom: 0; padding: 0; text-rendering: optimizeLegibility;"> Confirm your account to get full access to<a style="box-sizing: border-box; color: #FF6F70; line-height: inherit; padding: 0 3px; text-decoration: none;">UkrainiandDiamonds.com&nbsp;</a>and receive email notifications. </p>
     <div class="ud-mt-email-button" style="background-color: #D03F4A; box-sizing: border-box; height: 50px; margin: 25px 0 30px 0; overflow: hidden; padding: 0; width: 350px;"><a style="background-image: url('http://ud.voroninstudio.eu/assets/UAD-email-button-1-1.jpg'); background-repeat: no-repeat; box-sizing: border-box; color: #008CBA; display: block; height: inherit; line-height: inherit; position: relative; text-decoration: none; text-indent: -9999px;"></a></div>
     <p style="box-sizing: border-box; color: #404049; font-family: 'Fira Sans', sans-serif; font-size: 0.875rem; font-weight: 300; line-height: 1.3125rem; margin: 0; margin-bottom: 0; padding: 0; text-rendering: optimizeLegibility;"> Have a great time using our services! </p>
     <p style="box-sizing: border-box; color: #404049; font-family: 'Fira Sans', sans-serif; font-size: 0.875rem; font-weight: 300; line-height: 1.3125rem; margin: 0; margin-bottom: 0; padding: 0; text-rendering: optimizeLegibility;">The&nbsp;<a style="box-sizing: border-box; color: #FF6F70; line-height: inherit; padding: 0 3px; text-decoration: none;">UkrainianDiamonds.com&nbsp;</a>Team</p>
    </div>
    <div class="ud-mt-grey" style="background-color: #EDF0F1; box-sizing: border-box; margin: 0; padding: 0 32px;">
     <div class="ud-mt-user-info" style="box-sizing: border-box; margin: 0; padding: 35px;">
      <p style="box-sizing: border-box; color: #287FB8; font-family: 'Fira Sans', sans-serif; font-size: 1.3125rem; font-weight: 500; line-height: 1.3125rem; margin: 0; margin-bottom: 0; padding: 0; text-rendering: optimizeLegibility;"><span style="box-sizing: border-box; color: #BEC3C7; font-size: 1rem; font-style: italic; font-weight: 300; padding-right: 15px;">Your username:</span>Diamonduser </p>
     </div>
    </div>
   </div>
   <div class="ud-mt-footer" style="background-color: #287FB8; box-sizing: border-box; height: 66px; margin: 0; padding: 0; width: 100%;">
    <div class="ud-mt-footer-inner" style="box-sizing: border-box; margin: 0; padding: 11px 32px;">
     <div class="ud-mt-footer-left" style="box-sizing: border-box; float: left; margin: 0; padding: 0; width: 50%;">
      <p style="box-sizing: border-box; color: #fff; font-family: 'Fira Sans', sans-serif; font-size: 0.625rem; font-weight: 200; line-height: 0.85125rem; margin: 0; margin-bottom: 0; margin-top: 0; padding: 0; text-rendering: optimizeLegibility;"> This email was sent to<a style="box-sizing: border-box; color: inherit; font-weight: 400; line-height: inherit; padding-left: 6px; text-decoration: none;">voronin.nick@gmail.com</a></p>
      <p style="box-sizing: border-box; color: #fff; font-family: 'Fira Sans', sans-serif; font-size: 0.625rem; font-weight: 200; line-height: 0.85125rem; margin: 0; margin-bottom: 0; margin-top: 0; padding: 0; text-rendering: optimizeLegibility;"> Don't want to receive this type of email?<a style="box-sizing: border-box; color: inherit; font-weight: 400; line-height: inherit; padding-left: 6px; text-decoration: none;">Unsubscribe</a></p>
      <p style="box-sizing: border-box; color: #fff; font-family: 'Fira Sans', sans-serif; font-size: 0.625rem; font-weight: 200; line-height: 0.85125rem; margin: 0; margin-bottom: 0; margin-top: 0; padding: 0; text-rendering: optimizeLegibility;"> Have a question?<a style="box-sizing: border-box; color: inherit; font-weight: 400; line-height: inherit; padding-left: 6px; text-decoration: none;">Use custumer support</a></p>
     </div>
     <div class="ud-mt-footer-right" style="box-sizing: border-box; float: left; margin: 0; padding: 0; padding-top: 10px; width: 50%;">
      <p style="box-sizing: border-box; color: #fff; font-family: 'Fira Sans', sans-serif; font-size: 0.625rem; font-weight: 200; line-height: 0.85125rem; margin: 0; margin-bottom: 0; margin-top: 0; padding: 0; text-align: right; text-rendering: optimizeLegibility;"><img alt="Uad diamond logo" src="http://ud.voroninstudio.eu/assets/UAD-diamond-logo.png" style="box-sizing: border-box; display: inline-block; height: 24px; margin-right: 6px; max-width: 100%; vertical-align: middle; width: 24px;" />&copy; UkrainainDiamonds 2015 </p>
     </div>
    </div>
   </div>
  </div>
 </div>
</body>
