- content_key = "settings_account_settings_my_credit_card".to_sym
.settings-content.purchase-history-content data-key=content_key class=("active" if @active_content_key == content_key)
  = panel_with_header("My credit card") do