.email-templates-wrap
  ul
    &.ud-navigation
      li
        cursor: pointer
        &.active
          color: #D03F4A
    &.ud-email-templates
      list-style: none
      .ud-mt-mail-cover
        background-color: #E6E7E8
        widht: 100%
        .ud-mt-mail
          width: 585px
          margin: 0 auto
          min-height: 300px
          .ud-mt-header
            height: 120px
            width: 100%
            background-color: #2E2E36
            position: relative

            padding: 0 32px
            .ud-mt-logo
              width: 250px
              padding-top: 10px
              a
                img
                  &.ud-mt-logo-ico
                    width: 100px
                  &.ud-mt-logo-label
                    width: 150px
                    position: relative
                    top: 15px
            ul.ud-mt-socials
              position: absolute
              top: 40px
              right: 32px

              height: 40px
              list-style: none
              margin-left: 0
              li
                width: 40px
                float: left
                a
                  display: block
                  img
                    padding: 8px

          .ud-mt-main
            h3
              color: #D03F4A
              font:
                family: "Fira Sans", sans-serif
                size: rem-calc(21)
                weight: 500
              line-height: rem-calc(25)

            p
              color: #404049
              font:
                size: rem-calc(14)
                weight: 300
                family: "Fira Sans", sans-serif
              line-height: rem-calc(21)
              margin-bottom: 0
              a
                color: #FF6F70
                padding: 0 3px

            .ud-mt-email-button
              height: 50px
              background-color: #D03F4A
              margin: 25px 0 30px 0


            .ud-mt-row
              height: 110px
              margin-bottom: 30px
            .ud-mt-image, .ud-mt-title
              float: left

            .ud-mt-image
              width: 147px
            .ud-mt-title
              width: 350px
              margin-left: 18px
              h2
                color: #D03F4A
                font:
                  family: "Fira Sans", sans-serif
                  size: rem-calc(29)
                  weight: 500
                line-height: rem-calc(30)
              a
                color: #287FB8
                font:
                  family: "Fira Sans", sans-serif
                  size: rem-calc(14)
                  weight: 300
                  style: italic
                line-height: rem-calc(24)


            .ud-mt-white
              background-color: #fff
              padding: 0 32px

            .ud-mt-grey
              background-color: #EDF0F1

            &.ud-mt-confirmation
              .ud-mt-user-info
                padding: 35px
                p
                  color: #287FB8
                  font:
                    size: rem-calc(21)
                    weight: 500
                    family: "Fira Sans", sans-serif
                  span
                    color: #BEC3C7
                    font:
                      size: rem-calc(16)
                      weight: 300
                      style: italic
                    padding-right: 15px

              .ud-mt-white
                padding-top: 30px
                padding-bottom: 20px
                h3
                  margin-bottom: 23px
              .ud-mt-email-button
                width: 350px
                overflow: hidden
                a
                  display: block
                  position: relative
                  &:before
                    display: inline-block
                    content: 'CONFIRM YOUR ACCOUNT'
                    color: #fff
                    font:
                      family: "Fira Sans", sans-serif
                      size: rem-calc(21)
                      weight: 400
                    line-height: rem-calc(50)
                    display: inline-block
                    text-transform: uppercase
                    width: 100%
                    height: 100%
                    text-align: center


          .ud-mt-footer
            height: 66px
            width: 100%
            background-color: #287FB8

            padding: 11px 32px
            .ud-mt-footer-left, .ud-mt-footer-right
              width: 50%
              float: left
            p
              color: #fff
              font:
                size: rem-calc(10)
                weight: 200
                family: "Fira Sans", sans-serif
              line-height: rem-calc(13.62)
              margin-bottom: 0
              a
                color: inherit
                font:
                  weight: 400
                padding-left: 6px
            .ud-mt-footer-right
              padding-top: 10px
              p
                text-align: right
                img
                  width: 24px
                  height: 24px
                  margin-right: 6px

