.ud-mt-clearfix
  &:after
    visibility: hidden
    display: block
    font-size: 0
    content: " "
    clear: both
    height: 0



.email-templates-wrap
  ul
    &.ud-navigation
      li
        a
          color: #2E3E51
          &.active
            color: #D03F4A
    &.ud-email-templates
      list-style: none
      .ud-mt-mail-cover
        background-color: #E6E7E8
        width: 585px
.ud-mt-mail
  width: 585px
  margin: 0 auto
  min-height: 300px
  .ud-mt-header
    height: 120px
    width: 100%
    background-color: #2E2E36
    position: relative
    .ud-mt-header-inner
      padding: 0 32px
    .ud-mt-logo
      width: 250px
      padding-top: 10px
      float: left
      a
        img
          &.ud-mt-logo-ico
            width: 100px
          &.ud-mt-logo-label
            width: 150px
            position: relative
            top: 15px
    ul.ud-mt-socials
      float: right

      height: 40px
      list-style: none
      margin: 0
      margin-top: 40px
      li
        width: 40px
        float: left
        a
          display: block
          img
            padding: 8px

  .ud-mt-main
    min-height: 250px
    .ud-mt-membership
      .ud-mt-membership-image, .ud-mt-membership-text
        width: 50%
        //display: inline-block
        float: left
      .ud-mt-membership-image

      .ud-mt-membership-text


    strong
      color: #2E3E51
      font:
        size: rem-calc(18)
        weight: 500
        family: "Fira Sans", sans-serif
      line-height: rem-calc(21)

    h3
      color: #D03F4A
      font:
        family: "Fira Sans", sans-serif
        size: rem-calc(21)
        weight: 500
      line-height: rem-calc(25)

    p
      color: #404049
      font:
        size: rem-calc(14)
        weight: 300
        family: "Fira Sans", sans-serif
      line-height: rem-calc(21)
      margin-bottom: 0
      a
        color: #FF6F70
        padding: 0 3px

    .ud-mt-email-button
      height: 50px
      background-color: #D03F4A
      margin: 25px 0 30px 0
      overflow: hidden
      a
        display: block
        position: relative
        height: inherit
        text-indent: -9999px
        //&:before
        //  display: inline-block
        //  content: ''
        //  color: #fff
        //  font:
        //    family: "Fira Sans", sans-serif
        //    size: rem-calc(21)
        //    weight: 400
        //  line-height: rem-calc(50)
        //  display: inline-block
        //  text-transform: uppercase
        //  width: 100%
        //  height: 100%
        //  text-align: center
        //  text-shadow: 1px 1px 1px #9b3036, 2px 2px 1px #9e3138, 3px 3px 1px #9e3138, 4px 4px 1px #a13239, 5px 5px 1px #a8343c, 6px 6px 1px #a9343d, 7px 7px 1px #ae353e, 8px 8px 1px #b13740, 9px 9px 1px #b63842, 10px 10px 1px #bb3944, 11px 11px 1px #bc3a45, 12px 12px 1px #c03b46, 13px 13px 1px #c03b46, 14px 14px 1px #bf3b46, 15px 15px 1px #c03b47, 16px 16px 1px #c23c47, 17px 17px 1px #c23c47, 18px 18px 1px #c33c48, 19px 19px 1px #c33c48, 20px 20px 1px #c33c48, 21px 21px 1px #c33c48, 22px 22px 1px #c33c48
        img
          position: absolute
          left: 0
          top: 0
          right: 0
          bottom: 0
    .ud-mt-row
      height: 110px
      margin-bottom: 30px
    .ud-mt-image, .ud-mt-title
      float: left

    .ud-mt-image
      width: 151px
      img
        width: 100%
    .ud-mt-title
      width: 350px
      margin-left: 18px
      h2
        color: #D03F4A
        font:
          family: "Fira Sans", sans-serif
          size: rem-calc(29)
          weight: 500
        line-height: rem-calc(30)
      a
        color: #287FB8
        font:
          family: "Fira Sans", sans-serif
          size: rem-calc(14)
          weight: 300
          style: italic
        line-height: rem-calc(24)
      &.ud-mt-title-blue-text
        p
          color: #287FB8


    .ud-mt-white, .ud-mt-grey, .ud-mt-black
      padding: 0 32px
    .ud-mt-white
      background-color: #fff

    .ud-mt-grey
      background-color: #EDF0F1

    .ud-mt-black
      background-color: #2E2E36
    .ud-mt-block
      width: 100%
      .ud-mt-half
        width: 50%
        float: left
        &:first-child
          padding-right: 10px
          //background-color: red

        &.ud-mt-half-last
          padding-left: 10px
          //background-color: black
    &.ud-mt-daily-report
      .ud-mt-image
        img
          width: auto
          margin: 0 auto
          display: block
      .ud-mt-white
        padding-top: 30px
        &.ud-mt-last-white
          padding-bottom: 30px
      .ud-mt-block
        .ud-mt-half
          height: 180px
          margin-top: 20px
          img
            margin: 0 auto
            display: block
          b, p
            text-align: center
            width: 100%
            display: inline-block
            font:
              family: "Fira Sans", sans-serif
          b
            color: #287FB8
            font:
              size: rem-calc(30)
              weight: 600
            line-height: rem-calc(36)

          p
            color: #BEC3C7
            font:
              size: rem-calc(14)
              weight: 200
            line-height: rem-calc(21)

      .ud-mt-email-button
        width: 400px
        margin: 0
        a:before
          content: 'Go to ukrainian diamonds'

    &.ud-mt-no-approved-photo
      .ud-mt-email-button
        width: 250px
        margin: 0
        a:before
          content: 'Add a new photo'
      h3
        margin-bottom: 1rem
      .ud-mt-white
        padding-top: 36px
      .ud-mt-last-white
        padding-bottom: 30px
      .ud-mt-grey
        padding-top: 30px
      .ud-mt-subtitle-block
        padding-top: 15px
        padding-bottom: 36px
      .ud-mt-image-wrap
        padding-bottom: 13px
      .ud-mt-approved-status
        height: 10px
        width: 100%
        &.ud-mt-as-bad
          background-color: #FF6F70
        &.ud-mt-as-good
          background-color: #96D03F
      .ud-mt-block
        padding-top: 15px
        padding-bottom: 35px
        strong
          color: #6D6E71
          font:
            size: rem-calc(18)
            family: "Fira Sans", sans-serif
            weight: 600
          line-height: rem-calc(36)
    &.ud-mt-approved-photo
      .ud-mt-white
        padding-top: 30px
        padding-bottom: 30px
        .ud-mt-membership
          padding-top: 20px
          padding-bottom: 35px
          .ud-mt-membership-image
            position: relative
            padding-right: 10px
            img
              width: 100%
            .ud-mt-mi-status
              position: absolute
              right: 25px
              bottom: 5px
              z-index: 3
          .ud-mt-membership-text
            padding-left: 10px
          h3
            margin-top: 0
            position: relative
            top: -5px
      .ud-mt-email-button
        width: 250px
        margin-bottom: 0
        position: relative
        bottom: -12px
        a:before
          display: inline-block
          content: 'Upgrade now!'


    &.ud-mt-confirmation
      .ud-mt-user-info
        padding: 35px
        p
          color: #287FB8
          font:
            size: rem-calc(21)
            weight: 500
            family: "Fira Sans", sans-serif
          span
            color: #BEC3C7
            font:
              size: rem-calc(16)
              weight: 300
              style: italic
            padding-right: 15px

      .ud-mt-white
        padding-top: 30px
        padding-bottom: 20px
        h3
          margin-bottom: 23px
      .ud-mt-email-button
        width: 350px
        a
          background-image: asset-url("UAD-email-button-1-1.jpg")
        //a:before
        //  display: inline-block
        //  content: 'CONFIRM YOUR ACCOUNT'
      &.ud-mt-reset-password
        .ud-mt-email-button
          width: 250px
          a
            background-image: asset-url("UAD-email-button-1-2.jpg")
          //a:before
          //  display: inline-block
          //  content: 'Reset password'
      &.ud-mt-confirm-password
        .ud-mt-email-button
          width: 400px
          a:before
            display: inline-block
            content: 'Go to ukrainian diamonds'


    &.ud-mt-new-message
      .ud-mt-controls
        padding-top: 18px
        .ud-mt-control
          width: 50%
          float: left
          a
            display: block
            img
              padding-left: 40px
            b
              display: block
              text-align: center
              color: #fff
              font:
                size: rem-calc(14)
                weight: 200
                family: "Fira Sans", sans-serif
              line-height: rem-calc(16.8)
              position: relative
              top: -12px
              left: -10px

      .ud-mt-profile-from-message
        .ud-mt-pfm-avatar, .ud-mt-pfm-information
          float: left
        .ud-mt-pfm-avatar
          width: 200px
        .ud-mt-pfm-information
          width: 302px
          margin-left: 18px
          h1
            color: #fff
            font:
              size: rem-calc(36)
              weight: 400
              family: "Fira Sans", sans-serif
            line-height: rem-calc(19)

          .ud-mt-controls
            padding-top: 18px
            .ud-mt-control

          ul.ud-mt-data
            margin-left: 0
            padding-top: 15px
            li
              list-style: none
              .ud-mt-key, .ud-mt-value
                //float: left
                display: inline-block
              .ud-mt-key
                width: 100px
                color: #EDF0F1
                font:
                  size: rem-calc(12)
                  weight: 300
                  family: "Fira Sans", sans-serif
                line-height: rem-calc(21)
              .ud-mt-value
                //width: 202px
                width: 195px
                color: #96D03F
                font:
                  family: "dearjoe_1_msregular"
                  size: rem-calc(21)
                  weight: 400
                line-height: rem-calc(21)
                img
                  height: 21px
                  margin-left: 10px

      .ud-mt-white, .ud-mt-grey
        padding-top: 30px
        padding-bottom: 20px

      .ud-mt-black
        padding-top: 30px
        padding-bottom: 36px

      .ud-mt-grey
        strong
          display: block
          margin-bottom: 10px

          span
            color: #BEC3C7
            font:
              size: rem-calc(14)
              weight: 300
            float: right

    &.ud-mt-welcome
      .ud-mt-email-button
        width: 285px
        margin: 0 auto
        a:before
          display: inline-block
          content: 'Find your diamond'

      .ud-mt-welcome-head
        height: 450px
        padding-top: 20px
        .ud-mt-welcome-login
          padding-top: 30px
          .ud-mt-row
            padding-top: 10px
            .ud-mt-image-sig-in
              margin-top: 14px
      .ud-mt-white, .ud-mt-grey
        position: relative
      .ud-mt-welcome-step
        position: absolute
        bottom: 20px
        left: 65px
        font:
          family: "dearjoe_1_msregular", sans-serif
          size: rem-calc(24)
        color: #287FB8
        &.ud-mt-step-right
          right: 65px
          left: inherit

    .ud-mt-welcome-default-block
      height: 250px
      padding-top: 30px

    .ud-mt-profiles-wrap
      .ud-mt-white
        padding-top: 40px
        padding-bottom: 45px
      h1
        color: #287FB8
        font:
          family: "dearjoe_1_msregular", sans-serif
          size: rem-calc(36)
        line-height: rem-calc(36)
      .ud-mt-profiles
        padding-bottom: 22px
        .ud-mt-one-prof
          width: 166px
          height: 240px
          float: left
          margin: 2px
          position: relative
          .image
            max-width: 100%
            width: 100%
            height: 100%
            overflow: hidden
            -webkit-background-size: cover !important
            -moz-background-size: cover !important
            -o-background-size: cover !important
            background-size: cover !important
            margin: 0 auto
          .ud-mt-prof-information
            position: absolute
            height: 55px
            width: 100%
            bottom: 0
            &:before
              display: block
              content: ''
              background-color: #2E2E36
              position: absolute
              left: 0
              top: 0
              right: 0
              bottom: 0
              opacity: .8
            .ud-mt-triangle-header
              position: absolute
              top: -8px
              height: 8px
              width: 100%
              .triangle-wrap
                position: relative
                overflow: hidden
                height: 8px
                width: 100%
                opacity: 0.8
                .triangle
                  border: 8px solid #2E2E36
                  border-bottom: none
                  border-color: transparent #2E2E36 transparent
                  position: relative
                  left: 30px
                  -webkit-transform: translateX(-50%)
                  -moz-transform: translateX(-50%)
                  -ms-transform: translateX(-50%)
                  -o-transform: translateX(-50%)
                  transform: translateX(-50%)
                  position: absolute
                  top: 0
                  z-index: 11
                  &:before, &:after
                    right: 8px
                    width: 1000px
                  &:before
                    content: ""
                    position: absolute
                    z-index: 11
                    height: 8px
                    top: -8px
                    background: #2E2E36
                  &:after
                    content: ""
                    position: absolute
                    z-index: 11
                    height: 8px
                    top: -8px
                    left: 8px
                    background: #2E2E36

            .ud-mt-prof-about
              position: relative
              padding: 0 18px
              b
                color: #fff
                font:
                  family: "Fira Sans", sans-serif
                  size: rem-calc(18)
                  weight: 400
                line-height: rem-calc(19)
              p
                color: #96D03F
                font:
                  family: "Fira Sans", sans-serif
                  size: rem-calc(14)
                  weight: 200
                line-height: rem-calc(16.8)
                span
                  padding: 0 4px

    &.ud-mt-new-beautiful-girl
      .ud-mt-white
        padding: 30px 36px 58px 36px
        .ud-mt-profiles-wrap
          padding-top: 25px
      .ud-mt-image
        width: 82px
      .ud-mt-email-button
        width: 318px
        margin: 0 auto
        a:before
          display: inline-block
          content: 'View more diamonds'

    &.ud-mt-birthday
      .ud-mt-white
        padding: 30px 32px 50px 32px
        .ud-mt-title
          h3
            margin-bottom: 20px
          p
            a
              color: #D03F4A
            &.ud-mt-indent
              margin-bottom: 22px
      .ud-mt-birthday-title
        padding-bottom: 30px
        h2
          color: #D03F4A
          font:
            size: rem-calc(29)
            weight: 600
          line-height: rem-calc(30)
          text-align: center
        p
          color: #287FB8
          font:
            size: rem-calc(14)
            style: italic
          text-align: center
          line-height: rem-calc(18)
      .ud-mt-birthday-bg
        width: 100%
        height: 220px
        background-image: asset-url("birthday-bg.jpg")
        background-size: 100%
        padding-top: 30px
        b, p
          text-align: center
        b
          display: inline-block
          width: 100%
          color: #287FB8
          font:
            family: "dearjoe_1_msregular"
            size: rem-calc(24)
            style: italic
          margin-bottom: 18px
        p
          color: #D03F4A
          font:
            size: rem-calc(36)
            weight: 600
          margin-bottom: 30px

        .ud-mt-email-button
          width: 250px
          margin: 0 auto
          a:before
            display: inline-block
            content: 'Find a true love'




  .ud-mt-footer
    height: 66px
    width: 100%
    background-color: #287FB8
    .ud-mt-footer-inner
      padding: 11px 32px
    .ud-mt-footer-left, .ud-mt-footer-right
      width: 50%
      float: left
    p
      color: #fff
      font:
        size: rem-calc(10)
        weight: 200
        family: "Fira Sans", sans-serif
      line-height: rem-calc(13.62)
      margin-bottom: 0
      margin-top: 0
      a
        color: inherit
        font:
          weight: 400
        padding-left: 6px
    .ud-mt-footer-right
      padding-top: 10px
      p
        text-align: right
        img
          width: 24px
          height: 24px
          margin-right: 6px

