@import "mixins"

//========================================================
// code from site.css by Ivan    -------BEGIN----------
//========================================================
.ud-input-message-wrap, .ud-attach-file-into-message
  .ud-e-attachment-wrap
    a
      .image
        max-width: 100%
        width: 100%
        height: 0
        padding-bottom: 100%
        overflow: hidden
        -webkit-background-size: cover !important
        -moz-background-size: cover !important
        -o-background-size: cover !important
        background-size: cover !important
        margin: 0 auto
        border-radius: 0 !important
  .pg-one-item
    @media #{$small-only}
      width: 40px
    &:hover
      .pg-action-button
        opacity: 1
  .pg-action-button
    position: absolute
    top: 0
    width: 32px
    height: 32px
    background-color: rgba(40, 127, 184, 0.8)
    opacity: 0
    transition: opacity 0.5s
    &.pga-remove
      right: 15px
      svg
        width: 59%
        height: 100%
        margin: 0 auto
        display: block
        polygon
          fill: #fff

.ud-inbox-page-wrap
  .ud-inbox-content-wrap
    .message-not-read
      p.ud-text-message
        color: #404049

    .ud-inbox-message-block-wrap
      .ud-inbox-message-block-first
        opacity: 0
        height: 0px
        overflow: hidden
        .ui-message-main-wrap
          height: 110px
          overflow: hidden
      .ud-inbox-message-block-newer
        background-color: transparent
        position: absolute
        position: relative
        left: 0.9375rem
        top: 0
        right: 0.9375rem
        bottom: 24px
        z-index: 1
        //opacity: .8
        //padding-top: 26px
        //padding-left: 0.9375rem
        //padding-right: 0.9375rem
        //padding-bottom: 24px
        //min-height: 180px

      p.ud-text-message
        color: #BEC3C7
        font-size: 0.875rem
        font-weight: 300
        line-height: 1.1875rem
        //cursor: pointer
        outline: none !important
//========================================================
// code from site.css by Ivan      ----END-----
//========================================================
.ud-inbox-page-wrap
  .ud-inbox-checkbox
    position: absolute
    top: -6px
    left: -30px
    z-index: 2
    @media (max-width: 1500px)
      top: inherit
      bottom: -33px
      left: 20px
  .input
    .input-label
      position: relative
      height: 16.8px
      margin-bottom: 9px
      label
        position: absolute
        left: 0
        top: 0
        font:
          size: rem-calc(14)
          weight: 300
          family: "Fira Sans", sans-serif
        line-height: rem-calc(16.8)
        color: #BEC3C7
      a
        position: absolute
        top: 0
        right: 0
        font:
          size: rem-calc(14)
          weight: 300
          family: "Fira Sans", sans-serif
        line-height: 16.8px
        color: #3598DB
        text-transform: lowercase

    input, textarea
      font:
        family: "Fira Sans", sans-serif !important
        size: rem-calc(14)
        weight: 300 !important
      line-height: rem-calc(16.8)
      color: #6D6E71 !important
    input
      width: 100%
      height: 35px
      margin-bottom: 25px
      padding-left: 13px
      &::last-word
        color: #3598DB
    textarea
      padding: 13px
      margin-bottom: 10px



  //
  .ud-message-one-block-wrap
    background-color: #EDF0F1


    //.ud-mpm-window
      display: none
    .ud-inbox-message-group
      display: none
    &:first-child
      &.ud-opened-message-block
        margin-bottom: 20px
    &:not(:first-child)
      &.ud-opened-message-block
        margin: 20px 0

    // якщо блок розгорнути
    &.ud-opened-message-block
      .ui-inbox-reply-message
        display: none
      .ud-inbox-message-group
        position: relative
        height: 33px
        overflow: hidden
        background-color: #EDF0F1
        display: block
        border-top: 1px solid #BEC3C7
        &:before
          display: block
          content: ""
          height: 1px
          left: 0
          bottom: 1px
          right: 0
          position: absolute
          background-color: #fff
          z-index: 111111
          z-index: 10
        &:after
          display: block
          content: ""
          height: 1px
          left: 0
          bottom: 0px
          right: 0
          position: absolute
          background-color: #BEC3C7
          z-index: 10
        .ud-inbox-mg-button-wrap
          position: absolute
          left: 0
          top: 0
          right: 0
          bottom: 0
          background-image: asset-url("ud-inbox-pattern-v1.jpg")
          background-repeat: repeat-x
          //z-index: 1111
          z-index: 10
          cursor: pointer
          .ud-inbox-mg-button
            color: #3598DA
            font-size: 0.875rem
            font-weight: 300
            font-family: "Fira Sans", sans-serif
            display: inline-block
            padding: 0 20px
            line-height: 33px
            background-color: #EDF0F1
            +my_horizontal_align

        .ud-inbox-message-block-wrap
          display: none
      .ud-inbox-message-block-wrap
        .ui-read-more
          display: inline-block !important
        .ud-text-message-wrap
          &.ui-om-expand
            .ui-attached-files
              display: block
        .ud-inbox-message-block-first
          opacity: 1
          height: auto

          .ui-message-main-wrap
            height: auto
        .ud-inbox-message-block-newer
          display: none


        &.ud-inbox-message-group-expanded
          height: auto
          overflow: inherit
          .ud-inbox-mg-button-wrap
            display: none
          .ud-inbox-message-block-wrap
            display: block












    &.ud-membership-plan-message
      .ud-mpm-window
        display: block
        padding-top: 10px
        p
          color: #FF6F70 !important
          font:
            size: rem-calc(14)
            weight: 300
          line-height: rem-calc(18)
          cursor: pointer
          a
            padding: 0 5px
            color: #3598DB
        .ud-button-blue
          width: 100%
    &.ud-nc-b
      p.ud-text-message
        cursor: default !important
    &.ud-u-blocked
      .ud-message-option-wrap
        display: none
      p
        color: #FF6F70


  .ui-all-messages
    margin-top: 28px
    .ud-inbox-message-actions-wrap
      display: none
      float: left
      a
        svg
          path

    &.ud-inbox-is-checked-message
      background-color: #2E2E36
      .ud-inbox-message-actions-wrap
        display: inline-block
        height: 100%
        a
          display: inline-block
          width: 40px
          height: 100%
          svg
            width: 50%
        path
          fill: #BEC3C7
      h4
        color: #BEC3C7

  .ud-inbox-header-wrap
    height: 64px
    background-color: #2E2E36
    .ud-inbox-tab
      border-left: 1px solid #43434D
      height: 64px
      padding: 0
      &:before
        display: block
        content: ""
        background-color: #27272E
        width: 1px
        left: -2px
        top: 0
        bottom: 0
        position: absolute
      a
        display: inline-block
        text-align: center
        width: 100%
        height: 64px
        position: relative
        .inbox-tab-head-block
          height: 64px
          display: inline-block
          position: relative
          .round-count
            top: 5px
            right: -19px
            @media #{$medium-only}
              right: -10px
            @media #{$small-only}
              right: -10px
            @media screen and (max-width: 500px)
              right: -5px
          .inbox-tab-ico
            height: 100%
            float: left
            margin-right: 17px
            svg
              width: 40px
              height: 100%
          .inbox-tab-title
            height: 100%
            float: left
            @media #{$medium-down}
              display: none
            span
              font:
                size: 1.3125rem
                family: "Fira Sans", sans-serif
                weight: 400
              color: #BEC3C7
              text-transform: uppercase
              line-height: 4rem
      &.active
        svg
          path, rect, polygon
            fill: #3598DB
        a
          .inbox-tab-title
            span
              color: #3598DB

      &.ud-inbox-last-tab
        border-right: 1px solid #27272E
        &:after
          display: block
          content: ""
          background-color: #43434D
          width: 1px
          right: -2px
          top: 0
          bottom: 0
          position: absolute

  .ud-inbox-content-wrap
    margin-top: 13px
    margin-bottom: 100px
    .ud-inbox-message-block-wrap
      padding-top: 26px
      padding-left: 0.9375rem
      padding-right: 0.9375rem
      padding-bottom: 24px
      position: relative
      min-height: 180px
      &:before
        display: block
        content: ""
        height: 1px
        left: 0
        bottom: 0px
        right: 0
        position: absolute
        background-color: #fff
      &:after
        display: block
        content: ""
        height: 1px
        left: 0
        bottom: -1px
        right: 0
        position: absolute
        background-color: #BEC3C7
      .no-padding-left
        @media #{$medium-down}
          padding-left: 0.9375rem
      .avatar-wrap
        position: relative
        width: 60px
        margin: 0 auto

        &.ud-inbox-draft
          padding-left: 50px

        .avatar
          position: relative
          &.ud-offline:before
            background-color: #D03F4A
          &:before
            display: block
            content: ""
            position: absolute
            bottom: 0
            height: 4px
            background-color: #96D03F
            width: 100%
          .image
            max-width: 100%
            width: 100%
            height: 0
            padding-bottom: 110%
            overflow: hidden
            -webkit-background-size: cover !important
            -moz-background-size: cover !important
            -o-background-size: cover !important
            background-size: cover !important
            margin: 0 auto
      .ui-message-main-wrap
        width: 100%
        position: relative
        &:before
          display: inline-block
          content: attr(data-count-messages)
          position: absolute
          top: 0
          left: -43px
          color: #BEC3C7
          font:
            size: rem-calc(18)
            weight: 400
          line-height: 1.35rem
          width: 40px
          text-align: right
          @media #{$small-only}
            display: none
        p
          margin-bottom: 0
        .ui-message-detail-info
          height: 15px
          padding-right: 40px
          a
            width: 40px
            height: 100%
            float: right
            svg
              height: 100%
          p.ud-date
            display: inline-block
            margin-bottom: 0
            float: right
            color: #BEC3C7
            font-size: .8rem
        .ud-text-message-wrap
          position: relative
          .ui-one-message
            //overflow: hidden
            //height: 20px
          .ui-inbox-reply-message
            float: left
            cursor: pointer
          .ui-read-more
            position: relative
            min-height: 5px
            //right: 0
            //bottom: 0
            cursor: pointer
            &:before
              display: inline-block
              content: attr(data-name-e)
              color: #3598DB
              font:
                size: 0.875rem
                weight: 300
                family: "Fira Sans", sans-serif
            &:after
              display: block
              content: ''
              background-image: asset-url('show_more_down.svg')
              background-size: 100%
              width: 25px
              height: 25px
              +my_vertical_align()
                position: absolute
                right: -25px
          .ud-text-message-newer
            position: relative
            //background-color: #EFECCE
            p
              color: #2E3E51
              font-size: 0.875rem
              font-weight: 300
              line-height: 1.1875rem
              cursor: pointer
          .ui-attached-files
            display: none
          &.ui-om-expand
            p.ud-text-message
              height: auto
            .ui-read-more
              &:before
                display: inline-block
                content: attr(data-name-une)
              &:after
                background-image: asset-url('show_more_up.svg')

            .ui-attached-files
              display: block
      .ud-message-option-wrap
        position: absolute
        width: 20px
        height: 18px
        top: 30px
        right: 0.9375rem
        cursor: pointer
        svg
          height: 100%
          width: 4px
          float: right
          rect
            fill: #BEC3C7
        .ud-message-option
          position: relative
          z-index: 11
        .ud-message-option-popup
          min-width: 165px
          position: absolute
          right: -11px
          top: 30px
          z-index: 12 !important
          min-height: 210px !important
          background-color: #EDF0F1
          z-index: 10
          padding: 13px
          -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35)
          -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35)
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35)
          ul
            list-style: none
            margin-left: 0
            margin-bottom: 0
            li
              padding: 6px 0
              a
                color: #58595B
                font:
                  size: rem-calc(12)
                  weight: 300
                line-height: rem-calc(20)
                svg
                  width: 20px
                  height: 20px
                  float: left
                  margin-right: 5px
                  path, g, rect, polygon
                    fill: #48647C
              &.ud-inbox-block-unblock
                border-top: 1px solid #BEC3C7
          p
            color: #BEC3C7
            font:
              size: rem-calc(9)
              weight: 300
            line-height: rem-calc(30)
            margin-bottom: 0
      .ud-om-counter
        color: #BEC3C7
        font-size: 1.125rem
        font-weight: 400
        line-height: 1.35rem
        display: none
        @media #{$small-only}
          display: inline-block
      b
        color: #2E3E51
        font:
          size: rem-calc(18)
          weight: 400
        line-height: rem-calc(21.6)
        cursor: pointer
        span
          color: #FF6F70
          margin-right: 4px

      p.ud-text-message
        color: #2E3E51
        font:
          size: rem-calc(14)
          weight: 300
        line-height: rem-calc(19)
        cursor: pointer
        overflow: hidden
        text-overflow: ellipsis
        -o-text-overflow: ellipsis
        height: 58px
        &.udi-label
          color: #FF6F70
          font:
            size: rem-calc(14)
            weight: 300
          line-height: rem-calc(16.8)
      &.ud-inbox-message-sub-block-wrap
        padding-left: 5%
        p.ud-date
          display: inline-block
          margin-bottom: 0
          color: #BEC3C7
          font-weight: 400
          sup
            color: #FF6F70
            font-size: 70%
            margin-left: 5px
        //p.ud-text-message
          color: #404049
      &.ud-inbox-message-from-me
        .avatar
          &:before
            display: none
          .image
            border-radius: 50%
            padding-bottom: 100%
      &.ud-inbox-unread-message
        .ui-message-main-wrap
          .ui-attached-files, .ui-read-more
            display: none

      &.ud-inbox-unread-message, .ud-inbox-unread-message
        background-color: #EFECCE
        .ui-message-main-wrap
          &:before, b, p, .ud-om-counter
            color: #2E3E51
      &.ud-message-with-arrow
        .avatar-wrap:after
          display: block
          content: ""
          width: 30px
          height: 16px
          background-image: asset_url("UD-icon-sent-to.svg")
          background-size: 100%
          background-repeat: no-repeat
          position: absolute
          top: 30%
          left: -40px
          @media (max-width: 1500px)
            top: auto
            bottom: -50px
            left: 11px
.message-attachment-item
  float: left

.ud-has-attached-file

  .ud-attached-tumbler-wrap
    height: 25px
    margin-top: 10px
    .ua-tumbler
      height: 100%
      display: inline-block
      cursor: pointer
      svg
        width: 28px
        height: 10px
    a
      font-size: 0.875rem
      font-weight: 300
      font-family: "Fira Sans", sans-serif
      line-height: rem-calc(25)
      color: #3598DB
      padding-left: 1rem

  .ud-attached-wrap
    //padding-bottom: 40px
    span
      font-family: "Fira Sans", sans-serif
      font-weight: 300 !important
      color: #2E3E51 !important
      padding: 10px 0
      display: inline-block
  a
    .image
      max-width: 100%
      width: 100%
      height: 0
      padding-bottom: 100%
      overflow: hidden
      -webkit-background-size: cover !important
      -moz-background-size: cover !important
      -o-background-size: cover !important
      background-size: cover !important
      margin: 0 auto
p.ud-inbox-draft
  position: absolute
  left: 0.9375rem
  top: 0
  color: #FF6F70
  font:
    size: rem-calc(14)
    weight: 300
  line-height: rem-calc(16.8)
  margin-bottom: 0
  cursor: pointer

.ud-add-image-from-gallery-wrap
  .modal-footer-wrap
    p
      width: 100%
  h3
    margin: 0
    color: #2E3E51
    font-size: 1.30313rem
    font-weight: 500
    font-family: "Fira Sans", sans-serif
    letter-spacing: 0.02rem
    line-height: 2.375rem
    text-transform: uppercase
  .image-popup-one-item
    padding: 1px
    label
      position: relative
      &:before
        display: block
        content: ''
        background-image: asset_url('ud-make-image.svg')
        background-size: 100%
        background-repeat: no-repeat
        width: 55px
        height: 46px
        +my_horizontal_align
          position: absolute
        top: 30%
      &:after
        display: inline-block
        content: 'new photo'
        +my_horizontal_align
          position: absolute
        top: 67%
        color: #6D6E71
        font:
          size: rem-calc(14)
          weight: 400
        text-transform: uppercase
        width: 100%
        text-align: center

  a
    .image
      max-width: 100%
      width: 100%
      height: 0
      padding-bottom: 100%
      overflow: hidden
      -webkit-background-size: cover !important
      -moz-background-size: cover !important
      -o-background-size: cover !important
      background-size: cover !important
      margin: 0 auto
  label
    padding-bottom: 100%
    background-color: #BEC3C7
  input
    visibility: hidden
    position: absolute
    z-index: -111


.ud-browse-images-wrap
  .notification-container
    bottom: 48px
    top: auto
    //display: block !important
    min-width: 160px
    min-height: 40px
    left: -30px
    right: auto
    border: none
    &:before, &:after
      top: auto
    &:before
      border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent
      border-width: 12px 12px 0  12px
      left: 30px
      bottom: -12px
    &:after
      border-color: #edf0f1 transparent transparent transparent
      border-width: 11px 11px 0  11px
      left: 30px
      bottom: -11px
    .group
      padding: 15px
      padding-left: 20px
    .options
      .option
        padding-left: 0
        .label
          width: 20px
          height: 30px
          line-height: 30px
          .icon
            width: 100%
            height: 100%
            margin: 0
            padding: 0
            svg
              left: 0
        .input
          width: auto
          height: 30px
          margin-left: 10px
          a
            color: #58595B
            font:
              size: rem-calc(12)
            line-height: rem-calc(30)

.ud-smiles-wrap
  .notification-container
    bottom: 48px
    top: auto
    //display: block !important
    min-width: 215px
    min-height: 40px
    left: -30px
    right: auto
    border: none
    &:before, &:after
      top: auto
    &:before
      border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent
      border-width: 12px 12px 0  12px
      left: 30px
      bottom: -12px
    &:after
      border-color: #edf0f1 transparent transparent transparent
      border-width: 11px 11px 0  11px
      left: 30px
      bottom: -11px
    .group
      padding: 15px
      padding-left: 20px
    .options
      .option
        padding-left: 0
        .label
          width: 20px
          height: 30px
          line-height: 30px
          .icon
            width: 100%
            height: 100%
            margin: 0
            padding: 0
            svg
              left: 0
        .input
          width: auto
          height: 30px
          margin-left: 10px
          a
            color: #58595B
            font:
              size: rem-calc(12)
            line-height: rem-calc(30)
    .ud-smiles-inner
      height: 130px
      overflow-y: auto
      a
        padding: 0 8px 8px 0
        margin: 4px
        display: inline-block
        width: 32px

.ud-draft-wrap
  .avatar-wrap
    float: right
    margin-right: 20px !important
    position: relative
    &:after
      display: block
      content: ''
      width: 30px
      height: 16px
      background-image: asset-url("UD-icon-sent-to.svg")
      background-size: 100%
      background-repeat: no-repeat
      position: absolute
      top: 30%
      left: -40px
.all-conversations
  margin-bottom: 165px
.ud-inbox-sent-message
  padding-top: 30px
  position: relative
  outline: none !important
  &:before
    display: block
    content: ""
    height: 1px
    left: 0
    bottom: 0px
    right: 0
    position: absolute
    background-color: #fff
  &:after
    display: block
    content: ""
    height: 1px
    left: 0
    bottom: -1px
    right: 0
    position: absolute
    background-color: #BEC3C7

  .avatar-wrap
    position: relative
    width: 60px
    margin: 0 auto
    .avatar
      position: relative
      .image
        max-width: 100%
        width: 100%
        height: 0
        padding-bottom: 100%
        overflow: hidden
        -webkit-background-size: cover !important
        -moz-background-size: cover !important
        -o-background-size: cover !important
        background-size: cover !important
        margin: 0 auto
        border-radius: 50%
    .title-for-avatar
      span
  .ud-input-message-wrap
    width: 100%
    float: left
    //padding-left: 40px
    position: relative
    padding-bottom: 30px
    .input
      .input-label
        position: relative
        height: 16.8px
        margin-bottom: 9px
        label
          position: absolute
          left: 0
          top: 0
          font-size: 0.875rem
          font-weight: 300
          font-family: "Fira Sans", sans-serif
          line-height: 1.05rem
          color: #BEC3C7
          span
            padding-left: .5rem
      textarea
        margin-bottom: 10px
    a.modal-link
      font-size: 1.125rem
      font-weight: 500
      color: #D03F4A
      text-transform: uppercase
      height: 35px
      line-height: 2.1875rem
      padding: 0 35px
      display: inline-block
      position: static
      &.m-send
        background: #D03F4A
        color: #fff
    a.edit-icon-svg
      svg
        height: 35px
        width: 24px
        margin-right: 20px
        path, circle, polygon
          fill: #48647C

.ud-inbox-one-tab-wrap
  &.ud-sent-wrap
    .white-grey
      padding-bottom: 25px
      .send-group-mail-wrap
        //display: block
        display: none
      .send-group-mail-finish-wrap
        //display: none
        display: block
        .input
          //width: 100%
          //height: 30px
        .ud-smiles-wrap
          svg
            height: 35px
            width: 24px
            margin-right: 20px
            path, circle, polygon
              fill: #48647C
        .option
          .label
            background-color: transparent
            .icon
              width: 22px
              height: 22px
              float: left
              margin-right: 10px
              svg
                width: 100%
                height: 100%
                path
                  fill: #48647C
            span
              color: #58595B
              font:
                size: rem-calc(12)
                weight: 300
                family: "Fira Sans", sans-serif
              line-height: rem-calc(22)
          .input-group
            margin-top: 0
            margin-left: 40px
          .input-ud-button
            width: 125px
            margin-top: 25px
        .send-group-mail
          padding-top: 30px
          p
            position: absolute
            display: inline-block
            color: #BEC3C7
          b
            color: #BEC3C7
            font:
              size: rem-calc(14)
              weight: 300
              family: "Fira Sans", sans-serif
            line-height: rem-calc(16.8)
          ul
            list-style: none
            margin: 0
            li
              color: #808285
              font:
                size: rem-calc(16)
                weight: 300
                family: "Fira Sans", sans-serif
              line-height: rem-calc(40)
              cursor: pointer
              &.ud-current
                color: #3598DB
                font:
                  weight: 500
          .ud-attach-file-into-message
            .ud-e-attachment-wrap
              margin-top: 7px
              .pg-one-item
                padding-bottom: 15px
                .pga-remove
                  right: 8px
            .ud-browse-images-wrap
              a
                display: block

        .send-group-mail-option
          margin-top: 80px
          .input
            height: 30px
          .ud-mailing-vertical-border
            border-left: 1px solid #BEC3C7
            @media #{$small-only}
              border-right: none
        .send-group-mail-blocked-list
          list-style: none
          margin: 0
          margin-left: 40px
          height: 160px
          overflow-y: auto
          li
            color: #2E3E51
            font:
              family: "Fira Sans", sans-serif
              size: rem-calc(16)
              weight: 500
            line-height: rem-calc(35)
            height: 35px
            a
              display: inline-block
              width: 35px
              height: 35px
              position: relative
              top: 12px
              svg
                width: 100%
                height: 100%
                padding: 11px
                polygon
                  fill: #FF6F70

        .sgm-blocked-list-input
          height: 35px
          position: relative
          margin-top: 20px
          margin-bottom: 50px
          margin-left: 40px
          width: 75%
          input
            height: 100%
            width: 100%
            margin-right: 35px
            color: #2E3E51 !important
            font-size: 0.875rem !important
            line-height: 1.05rem !important
            outline: none !important
            border: none
            box-shadow: none !important

          .sgm-button
            position: absolute
            top: 0
            right: 0
            bottom: 0
            width: 35px
            button
              background-color: #D03F4A !important
              width: 100%
              height: 100%
              margin: 0
              padding: 0
              svg
                width: 100%
                height: 100%
                padding: 6px
                polygon
                  fill: #fff
        .ud-mailing-sent-to-people-filter
          .input-ud-button
            margin-left: 40px
.right-only-not-small
  float: right
  @media #{$small-only}
    float: left
section[contenteditable=true]
  outline: none !important
.ud-message-wrap
  background: #EDF0F1
  padding-top: 25px
  .ud-section-wrap
    height: 250px
    resize: vertical
    position: relative
    section#ud-editable
      background: white
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      padding: 10px
      overflow-y: auto
      overflow-x: hidden
  .ud-e-attachment-wrap
    padding-top: 35px
    a
      width: 25%
      display: block
      float: left
      padding: 1px
      /*width: grid-calc(2, 12)*/
      +grid-column(2)
      .image
        max-width: 100%
        width: 100%
        height: 0
        padding-bottom: 100%
        overflow: hidden
        -webkit-background-size: cover !important
        -moz-background-size: cover !important
        -o-background-size: cover !important
        background-size: cover !important
        margin: 0 auto
  a.edit-icon-svg
    svg
      height: 35px
      width: 24px
      margin-right: 20px
      path, circle
        fill: #48647C
  a.modal-link
    &.m-send
      background: #D03F4A
      color: #fff
      font:
        size: 1.125rem
        weight: 500

      text-transform: uppercase
      height: 35px
      line-height: 2.1875rem
      padding: 0 35px
      display: inline-block
      position: static


