// Place all the styles related to the mobile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mobile-main-page
  .l-main-banner-wrap
    background: #404049
    height: auto
    padding-top: 20px
    padding-bottom: 90px
    .l-banner-login-form-wrap
      position: static
      height: auto
      .l-banner-login-form-inner
        height: auto
        .l-banner-login-form
          width: 100%
          position: static
  .best-match-wrap
    padding-top: 0
    margin-bottom: 0