//
// Created by: pasha
//
//
//


//
// TODO
//
// 2. purchase history. year dropdown




%boolean
  svg
    width: rem-calc(15)
    height: rem-calc(15)



%boolean-true
  //@extend %boolean
  svg
    width: rem-calc(16)
    height: rem-calc(16)
    fill: $bright-green-color
%boolean-false
  //@extend %boolean
  svg
    width: rem-calc(14)
    height: rem-calc(14)
    polygon
      fill: #D03F4A
%blue-small-text
  color: $light-blue-text-color
  font-weight: 300
  font-size: rem-calc(14)
  line-height: rem-calc(18)
%large-red-text
  font-family: $dearjoe-font-family
  color: $red-link-color
  font-size: rem-calc(35)
  //height: rem-calc(36)
%paragraph-with-small-text
  font:
    size: rem-calc(12)
    weight: 300
    family: "Fira Sans", sans-serif
  color: #2E3E51
  line-height: rem-calc(14.4)
  padding-top: 7px
  padding-left: 12px
%small-gray-text
  font-size: rem-calc(14)
  color: #aaa

%small-darkblue-text
  color: $blue-background-color
  font-weight: 400
  font-size: rem-calc(14)
%help
  font-size: rem-calc(12)
  color: #aaa


%center-content
  > *
    +transform(translateY(-50%))
    top: 50%
    position: relative


%option-label
  @extend %center-content
  .name
    @extend %small-darkblue-text
    line-height: 1

  .help
    @extend %help
    line-height: 1



.small-bold-black-text
  font-weight: 600
  color: black
  font-size: rem-calc(14)
.bold-black-text-14px
  font-weight: 600
  color: black
  font-size: rem-calc(14)

%transparent-select
  color: #D03F4A
  background-color: Transparent
  background: asset_path("UAD-triangle.png") no-repeat right center
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none
  border: none
  text-transform: uppercase
  margin: 0
  outline: none !important
  +my_vertical_align
    position: absolute

%settings-input
  label
    @extend %settings-input__label
  input
    @extend %settings-input__input
%settings-input__label
  font-size: 0.875rem
  line-height: 1.05rem
  color: #2E3E51
  margin-bottom: 6px

= settings-input__input
  //color: #D03F4A !important
  color: #2E3E51 !important
  font-size: 0.875rem !important
  line-height: 1.05rem !important
  outline: none !important
  border: none
  box-shadow: none !important
  height: 35px
  width: 100%
  padding-left: 13px
  &:focus
    border: none !important
  &[disabled=disabled]
    background-color: #bec3c7
    color: $gray-text-color !important
    font-weight: 600
%settings-input__input
  +settings-input__input

%settings-sumo-select
  width: 100%
  .optWrapper
    top: 35px
  ul.options
    max-height: rem-calc(12 * 35) // 12 options max else scrollbar
    height: auto
    overflow: auto
    li
      height: 35px
      border-radius: 0!important
      border-bottom: 1px solid #BEC3C7
      padding: 0 0 0 35px
      &:hover
        background-color: #EDF0F1
      span
        i
          background: #fff
          border: 1px solid #BEC3C7
      label
        font:
          size: rem-calc(14)
        line-height: rem-calc(35)
        color: #BEC3C7
      &.selected
        span
          i
            background-image: asset_url("UAD-check-(white).png")
            background-color: #3598DB
            border: none
        label
          color: #3598DB

%settings-select-box
  width: 100%
  padding: 0
  height: 35px
  border: none
  margin: 0
  > span
    height: 100%
    line-height: rem-calc(35)
    color: #BEC3C7
    font:
      size: rem-calc(14)
      weight: 300
    padding-left: 12px
  > label
    background-color: transparent !important
    > i
      background-image: asset_url("UAD-triangle-grey.png")
      width: 100%
      height: 100%


+keyframes(block-hover)
  0%, 90%
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3)
  100%
    +container-box-shadow

.some-text
  font-size: 14px
  color: #bec3c7
  font-weight: 300
  line-height: 16px

$settings-header-height: rem-calc(85)

.p_panel-header
  height: rem-calc(38)
  background-color: #BEC3C7
  padding-left: rem-calc(15)
  margin-bottom: rem-calc(3)


.favorites-woman-wrap.settings-page-wrap
  .settings-nav-wrap
    nav
      height: rem-calc(85)
    li
      width: calc(25% - 4px )
      &.active
        &:first-child
          svg
            &, path, rect
              fill: #3598DB !important
      &:nth-child(2)
        svg
          height: rem-calc(30)
    @media #{$screen} and (max-width: #{rem-calc(1100)})
      nav
        li
          a
            padding-top: 0



.title-head
  padding: 0 rem-calc(15)

.table
  text-align: center

.table-header
  height: rem-calc(30)
  line-height: rem-calc(30)
  ul
    list-style: none
    height: inherit
    line-height: inherit
    margin-left: 0

    li
      height: inherit
      line-height: inherit
      +grid-column(2)
      color: #fff
      text-transform: uppercase
      padding-left: 0
      padding-right: 0
      font-weight: 500



      background: $table-header-background






.table-row
  height: rem-calc(50)


  clear: left
  &:nth-child(2n)
    background-color: #fff
  &:nth-child(2n+1)
    background-color: $panel-content-background

  .table-cell
    +grid-column(2)
    height: inherit
    line-height: rem-calc(16)


    &:first-child, &:nth-child(2)
      text-align: left
    &:first-child
      //color: $gray-text-color
      color: #6d6e71

    &:first-child, &:nth-child(2), &:nth-child(3)
      font-weight: 500
      font-size: rem-calc(14)
    &:nth-child(4)
      font-size: rem-calc(14)




    &.status
      &.yes
        svg
          width: rem-calc(16)
          height: rem-calc(16)
          fill: #99d341
      &.no
        svg
          width: rem-calc(14)
          height: rem-calc(14)
          fill: $red-link-color
          polygon
            fill: $light-red-color
    &:last-child
      +clearfix

    &.price
      color: $light-red-color
      font-weight: 500






  &:last-child
    //border-bottom: 1px black solid
    border-bottom: 1px #bec3c7 solid

  .table-cell-inner
    +transform(translateY(-50%))
    top: 50%
    position: relative

.table-cell
  border-right: 1px #bec3c7 solid
  &:first-child
    border-left: 1px #bec3c7 solid
.table-header li
  border-right: 1px black solid

  &:first-child
    border-left: 1px black solid


.table-header li, .table-row .table-cell
  //padding-left: 0
  //padding-right: 0

  &:nth-child(2), &:nth-child(3)
    width: grid-calc(3, 12)


#account-settings__purchase-history
  .table
    &.without-status
      .table-header li, .table-row .table-cell
        width: grid-calc(3, 12)

.panel-content
  padding: rem-calc(25) rem-calc(15) rem-calc(64) rem-calc(15)
  background: $panel-content-background
  //padding-bottom: rem-calc(20)
  padding-bottom: rem-calc(50)


.panel-content-row
  +grid-row()

.credits-left
  float: left
  .credits-left-label
    //color: $gray-text-color
    color: #2E3E51
    font-weight: 300
    font-size: 0.875rem
  .credits-left-value
    margin-left: rem-calc(5)
    font-weight: 600

.account-deactivation-content
  max-width: rem-calc(380)
  .input
    input
      margin-bottom: 0.5rem
  .actions
    margin-top: rem-calc(30)
    input
      margin-bottom: rem-calc(6)
  @media #{$medium-only}
    max-width: none

    &.settings-content
      //padding: 0

@media #{$large-up}
  .account-deactivation-content
    //max-width: none


.password-change-content
  max-width: rem-calc(380)
  .actions
    padding-top: rem-calc(15)
  @media #{$medium-only}
    max-width: none
    &.settings-content
      //padding: 0

@media #{$large-up}
  .password-change-content


.purchase-history-content
  font-family: $fira-sans-font-family
  .year-wrap
    float: right
    width: auto
    > label
      float: left
      font-size: rem-calc(12)
      color: #58595b
      font-weight: 300
      height: rem-calc(40)
      line-height: rem-calc(40)
      margin-right: rem-calc(5)
    select
      @extend %transparent-select
      top: 0
      padding: 0
      +transform(none)
      position: relative
      height: rem-calc(24)
      padding-right: rem-calc(12)
      background-position-x: calc( 100% + #{rem-calc(15)} )
      float: left
      width: auto
      background: asset-url("UAD-triangle.png") no-repeat right center
  .selected-year
    color: $red-link-color
  .table
    clear: left
    float: left
    margin-top: rem-calc(10)
    width: 100%


.settings-content
  .action
    p
      @extend %paragraph-with-small-text

// ==============================================================
// --------------------------------------------------------------
// Profile data
// --------------------------------------------------------------
// ==============================================================
#account-settings__profile-data
  .input
    input
      @extend %settings-input__input
  .action
    p
      //@extend %paragraph-with-small-text

.profile-data-content
  width: grid-calc(7, 12)
  .SumoSelect
    @extend %settings-sumo-select
    //> .CaptionCont
      > label
        background-color: transparent
        > i
  .SlectBox, .SumoSelect .SlectBox
    @extend %settings-select-box

  .actions
    @extend %help
    .action
      margin-left: grid-calc(3, 12)
      width: grid-calc(7, 12)
      padding: 0 rem-calc(5)
      input
        width: 100%

  .field
    clear: both
    float: left
    width: 100%

    > .SumoSelect
      //@extend %settings-sumo-select
      //.CaptionCont
        width: 100%

    > label
      +grid-column(3)
    > .input-wrap, > .SumoSelect
      +grid-column(7)
      padding-left: rem-calc(5)
      padding-right: rem-calc(5)

    .input
      +grid-column(7, $collapse: true)
      .input-inner
        +grid-row()
      &.three-columns
        .input-inner
          > *
            +grid-column(4)
            position: relative
            padding-left: rem-calc(5)
            padding-right: rem-calc(5)
            //overflow: hidden
      select, .SumoSelect, .CaptionCont
        width: 100%

    &.birthday
      .input.three-columns
        .select-wrap
          &:first-child
            width: rem-calc(60)
          &:nth-child(2)
            width: calc(#{grid-calc(12, 12)} - #{rem-calc(60 + 85)} )
          &:nth-child(3)
            width: rem-calc(85)
    &.height
      .text-wrap
        +grid-column(8)
        width: calc(#{grid-calc(12, 12)} - #{rem-calc(85)})
      .select-wrap
        +grid-column(4)
        width: rem-calc(85)


      .text-wrap, .select-wrap
        padding-left: rem-calc(5)
        padding-right: rem-calc(5)
    &.address
      .input
        .input-inner
          +grid-column(6)
          padding-left: rem-calc(5)
          padding-right: rem-calc(5)
        .SumoSelect

  @media #{$medium-down}
    width: 100%



.my-field
  input
    @include reset_foundation_input_styles
    @include input
    &:focus
      background: white
  +grid-row()
  textarea
    margin-bottom: rem-calc(16)
    height: rem-calc(170)
  > label
    +grid-column(3)
    padding-left: 0
    //@extend %small-darkblue-text
    //@extend %settings-input__input
    @extend %settings-input__label
    line-height: rem-calc(35)
    min-height: rem-calc(35)
  .inputs
    +grid-column(7, $collapse: true)

    .SumoSelect
      > .CaptionCont
        width: 100%

    .profile-data-input
      padding-left: rem-calc(5)
      padding-right: rem-calc(5)
.profile-data-input
  &:not([class*="columns large-"])
    +grid-column(12)
  &:not(.auto-width)
    .SumoSelect, .CaptionCont
      width: 100%

.profile-data-input
  &.profile-data-input-datepicker
    input
      +grid-column(8)
      width: calc(#{grid-calc(12, 12)} - #{rem-calc(37)})
      cursor: pointer
    img
      +grid-column(4)
      //max-width: 30px
      //max-height: 30px
      margin-top: rem-calc(2)
      width: rem-calc(27)
      height: rem-calc(30)
      padding-left: 0
      //padding-right: rem-calc(15/2)
      float: right
      padding-right: 0
      cursor: pointer


// ==============================================================
// --------------------------------------------------------------
// Buy credits
// --------------------------------------------------------------
// ==============================================================

.offered-credits
  .credit
    position: relative
    //+transition_all("padding 0.3s 0.3s, box-shadow 0.2s 0.3s")
    +transition_all("padding 0.3s 0.3s")
    text-align: center
    //padding-bottom: rem-calc(10)
    margin-bottom: rem-calc(10)
    +grid-column(4)
    padding-left: rem-calc(10)
    padding-right: rem-calc(10)

    height: rem-calc(227) // fixed height

    > .inner
      height: 100%

    .credit-bonus
      display: block
      position: absolute
      right: rem-calc(0)
      top: rem-calc(-20)
      width: rem-calc(56)
      height: rem-calc(56)
      background: $red-link-color
      border-radius: 50%
      color: white
      font-size: rem-calc(14)
      line-height: rem-calc(15)
      padding-top: rem-calc(14)
      font-weight: 500
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35)

    .credits-count
      height: rem-calc(64)
      background-color: $blue-background-color
      color: #fff

      .count


    .credits-count, .credit-price
      padding: rem-calc(9) 0
      line-height: rem-calc(24)
      //letter-spacing: rem-calc(2)

      span
        font-weight: 300

    .credits-count .count, .credit-price .total-price
      font-weight: 600
      //font-size: 1.4rem
      font-size: rem-calc(30)

    .credit-price
      height: rem-calc(64)
      color: $red-link-color
      background-color: #fff
      border-bottom: rem-calc(1) solid #eef0ef

    .credit-reward
      background-color: #fff
      height: rem-calc(64)
      color: $blue-background-color
      padding-top: rem-calc(14)
      p
        font-size: rem-calc(14)
        line-height: rem-calc(15)
      span
        font-weight: 500
    .ud-button
      opacity: 0

    &:hover
      padding-left: rem-calc(0)
      padding-right: rem-calc(0)
      //+container-box-shadow
      //+transition_all("padding 0.3s 0.3s, box-shadow 0s 0.3s")
      +transition_all("padding 0.3s 0.3s")
      //+animation(0, 0.3s, block-hover)
      //+transition_all("padding 0.3s")
      > .inner
        +container-box-shadow
      .credits-count
        background-color: $green-color
      .ud-button
        opacity: 1

  html.touch &
    .credit
      padding-bottom: rem-calc(35)

      .ud-button
        opacity: 1

.buy-credits-info
  +grid-column(12)
  padding-left: rem-calc(10)
  padding-right: rem-calc(10)
  color: $blue-background-color

  p
    @include text-paragraph
.buy-credits-info-header
  @include text-title





// ===================================
// -----------------------------------
// settings forms styling
// -----------------------------------
// ===================================

#settings-section
  .SumoSelect:not(.GraySelect)
    width: 100%
    .optWrapper
      top: 35px
    ul.options
      //max-height: none
      height: auto
      //overflow: visible
      li
        height: 35px
        border-radius: 0!important
        border-bottom: 1px solid #BEC3C7
        padding: 0 0 0 35px
        &:hover
          background-color: #EDF0F1
        span
          i
            background: #fff
            border: 1px solid #BEC3C7
        label
          font:
            size: rem-calc(14)
          line-height: rem-calc(35)
          color: #BEC3C7
        &.selected
          span
            i
              background-image: asset-url("UAD-check-(white).png")
              background-color: $light-blue-text-color
              border: none
          label
            color: $light-blue-text-color



// ===================================
// -----------------------------------
// Membership plan
// -----------------------------------
// ===================================

.invitation-and-plans-items
  padding-top: rem-calc(15)
  .invitation
    +grid-column(4)
  .invitation-title
    font-family: "dearjoe_1_msregular"
    color: $red-link-color
    font-size: rem-calc(35)
    height: rem-calc(36)
  .small-light-blue-text
    color: $light-blue-text-color
    font-weight: 300
    font-size: rem-calc(14)



// ===================================
// -----------------------------------
// Email settings
// -----------------------------------
// ===================================

#account-settings__email-settings
  form.change-email
    +flexbox
    input[type=submit]
      cursor: pointer
    input[type=email]
      &:not([disabled])
        & ~ input[type=submit]
          display: none
        & ~ input.button-save
          display: inline-block
          height: rem-calc(35)
          width: rem-calc(35)
          background-image: asset-url("UAD-icon-check.jpg")
          background-size: cover
          border: none

.pasha-button
  @extend a.ud-button
  border: none

  padding: 0 rem-calc(30)

  input + &
    //margin-left: rem-calc(10)


.email-settings-section
  margin-top: rem-calc(40)

  .pasha-button
    width: auto

  &:first-child
    margin-top: 0

  svg
    width: rem-calc(22)
    height: rem-calc(17)
    path
      fill: #496482

  .change-email
    input:not([type=submit])
      @extend %settings-input__input
      //background-color: #bec3c7
      //color: $gray-text-color
      //font-weight: 600
      //height: rem-calc(35)
      width: rem-calc(300)
      //font-size: rem-calc(13)
      //display: inline-block
      //margin: 0
    input[type=submit]
      vertical-align: middle






.email-settings-section-title
  font-weight: 600
  font-size: rem-calc(14)
  //margin-bottom: rem-calc(10)
  margin-bottom: rem-calc(5)

.small-light-red-text
  color: $red-link-color
  font-size: rem-calc(12)
  font-weight: 300
.light-gray-text
  //color: #aaa
  color: #58595B
  font-size: rem-calc(12)
  font-weight: 300

.email-settings-section-content
  padding-top: rem-calc(15)
  > *
    display: inline-block


.settings-content
  .red-checkbox
    clear: left
.red-checkbox + label
  color: inherit
  font: inherit
  display: inline
  //line-height: inherit
  line-height: rem-calc(30)


.email-settings-section
  &.news-letter
    .email-settings-section-content
      max-width: rem-calc(300)
      > *
        display: inline-block
      .checkbox-switch
        float: right
    span
      vertical-align: top
  &.options
    position: relative
    .input
      font-size: rem-calc(14)
      display: block

    .email-settings-section-content
      margin-left: rem-calc(30)


.inputs
  position: relative
form, .inputs, .email-settings-section.options
  .overlay
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: none

  &.disabled
    opacity: 0.3
    .overlay
      display: block

.popup-settings-content
  .email-settings-section.options
    > :first-child
      svg
        width: rem-calc(23)
        height: rem-calc(23)
        margin-right: rem-calc(4)
      span
        vertical-align: top
        line-height: rem-calc(24)


.red-checkbox
  @extend .squared
  display: inline
  float: none
  margin-right: rem-calc(8)
  //input
  //
  //  //@extend .squared input[type=checkbox]
  //label
  //  //@extend .notification-container .group .input-group label
  //  //@extend .squared input[type=checkbox]:checked + label
  //  & input[type=checkbox]:checked + label
  //    border: none
  //    background-color: #D03F4A
  //  & input[type=checkbox]:checked + label:after
  //    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  //    filter: alpha(opacity=100)
  //    opacity: 1

.input-group
  margin-top: rem-calc(20)
  margin-top: rem-calc(20)
  .inputs
    margin-left: rem-calc(30)


#notifications-settings-content
  .inputs
    max-width: rem-calc(300)
  .input-group
    clear: left
    padding-top: rem-calc(40)
    margin-top: rem-calc(20)
    margin-bottom: rem-calc(20)
    &:first-child
      padding-top: 0

    &:last-child
      margin-bottom: 0
    .inputs
      float: left
      clear: both
      width: 100%

  .input-group-icon
    svg
      width: rem-calc(16)
      height: rem-calc(16)
      path
        fill: $blue-background-color

  .input-group-icon, .input-group-title, .input-group-toggler
    display: inline-block
    vertical-align: top


  .input-group-icon, .input-group-title
    float: left
  .input-group-icon
    margin-right: rem-calc(15)
  .input-group-toggler
    float: right
  .input-group-title
    line-height: rem-calc(16)


@media (max-width: #{rem-calc(740)})
  .offered-credits
    .credit
      width: grid-calc(6, 12)



#account-settings-membership-plan
  .invitation-and-plans-items
    .invitation
      padding-top: rem-calc(30)
    .plan-items
      +grid-column(8)
      overflow-y: hidden

      .plan-item
        +grid-column(4)
        padding-left: rem-calc(10)
        padding-right: rem-calc(10)
        +transition(padding, 0.3s)
        position: relative
        height: rem-calc(150)


        .button-placeholder
          height: rem-calc(35)
          background-color: #ffffff

        .current
          position: absolute
          height: rem-calc(27)
          top: rem-calc(-27)
          font-family: $dearjoe-font-family
          font-size: rem-calc(21)
          color: $blue-background-color
          width: 100%
          text-align: center


        &.hover
          padding-left: rem-calc(5)
          padding-right: rem-calc(5)
          .plan-name
            background-color: #99d341
            box-shadow: 7px 7px 7px rgba(0,0,0,0.3)
          .price
            color: $red-link-color

          .plan-name, .price, .ud-button
            box-shadow: 7px 7px 7px rgba(0,0,0,0.2)

        .plan-name
          height: rem-calc(30)
          background-color: $blue-background-color
          color: #ffffff
          text-transform: uppercase
          text-align: center
          line-height: rem-calc(30)
        .plan-duration, .price
          background: #ffffff
          height: rem-calc(85)
          color: $blue-background-color
          font-size: rem-calc(17)
          font-weight: 600
          text-align: center
        .plan-duration, .price
          padding-top: rem-calc(16)

        .price-value
          font-size: rem-calc(26)
          line-height: 1
        .per-month
          line-height: 1
          font-weight: 300
        .status.starting-plan
          background: #ffffff
          font-weight: 300
          font-size: rem-calc(14)
          color: #aaa
          height: rem-calc(35)
          text-align: center
  .options
    .option
      .option-name
        +grid-column(4)
        line-height: rem-calc(45)
        height: rem-calc(45)
        color: $blue-background-color
        font-weight: 300
        font-size: rem-calc(14)
        position: relative
        .name, .help
          line-height: 1
        .help
          color: #aaa
          font-size: rem-calc(12)
        .name-and-help
          position: absolute
          top: 50%
          display: block
          +transform(translateY(-50%))
      .option-value
        height: 100%
        line-height: rem-calc(45)
        text-align: center
        color: $blue-background-color
        text-transform: uppercase
        .columns.collapsed
          height: 100%
          padding-right: 0
          padding-left: 0
          &:first-child
            border-right: rem-calc(1) solid white
        &.gray
          background-color: #f2f2f2 !important
          .columns.vertical-separator
            border-top: rem-calc(1) solid white
            border-bottom: rem-calc(1) solid white
      .plans
        +grid-column(8)
        .plan
          +grid-column(4)
          height: rem-calc(45)
          padding-left: rem-calc(10)
          padding-right: rem-calc(10)
          +transition(padding, 0.3s)

          &.hover
            padding-left: rem-calc(5)
            padding-right: rem-calc(5)
            .option-value
              box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2)

      &:nth-child(2n+1)
        .plan
          .option-value
            background-color: #f2f2f2
      &:nth-child(2n)
        .plan
          .option-value
            background-color: #ffffff
      &.boolean
        svg
          width: rem-calc(16)
          height: rem-calc(16)
          display: block
          +transform(translate(-50%, -50%))
          position: relative
          top: 50%
          left: 50%

        .option-value
          &.true
            svg
              fill: #99d341
          &.false
            svg
              polygon
                fill: #D03F4A
  .buttons
    .columns.large-4
      height: rem-calc(35)
      padding-left: rem-calc(5)
      padding-right: rem-calc(5)
    .ud-button
      &.hover
        display: block !important


#account-settings__password-change, #account-settings__account-deactivation
  .panel-content
    padding-bottom: rem-calc(30)
  .input
    label
      @extend %settings-input__label
    input
      //width: 100%
      @extend %settings-input__input
  .actions
    .action
      input
        width: 100%



#account-settings__membership-data
  @extend %settings-content
  .panel-content-row
    padding-top: rem-calc(30)

  .tabs
    display: none

  .invitation-and-option-labels
    +grid-column(4)
  .invitation
    //padding-top: rem-calc(30)
    padding-top: rem-calc(42) // fix for dear-joe font-family
    height: rem-calc(150)
    .title
      @extend %large-red-text
      height: auto
      line-height: 0.7
    .subtext
      @extend %blue-small-text

  .plans
    +grid-column(8)
    padding-left: rem-calc(5)
    padding-right: rem-calc(5)
    .plan
      font-family: $fira-sans-font-family
      text-align: center
      +grid-column(4)
      padding-left: rem-calc(10)
      padding-right: rem-calc(10)
      +transition(padding, 0.2s)
      position: relative

      .inner
        position: relative

      .current
        width: 100%
        //position: relative
        position: absolute
        height: rem-calc(27)
        line-height: rem-calc(27)
        margin-top: rem-calc(-27)
        text-align: center
        color: $blue-background-color
        font-family: $dearjoe-font-family
        font-size: rem-calc(21)

        > *
          position: relative

      .name
        background-color: $blue-background-color
        color: #ffffff
        height: rem-calc(30)
        line-height: rem-calc(30)
        text-transform: uppercase
        font-weight: 500
      .primary-info
        height: rem-calc(85)
        background-color: #ffffff
        color: $blue-background-color
        font-size: rem-calc(17)
        font-weight: 600
        line-height: 1
        @extend %center-content
      .price
        font-size: rem-calc(30)
        line-height: 1

      .price-per
        font-weight: 300
        line-height: 1
        font-size: rem-calc(16)
      .secondary-info
        height: rem-calc(35)
        background-color: #ffffff
      .starting-plan
        @extend %small-gray-text
      .button-placeholder
        height: rem-calc(35)
      .pasha-button
        width: 100%
        @extend .special-text-shadow
        color: #ffffff
        display: block

      > .pasha-button
        opacity: 0
        display: block

      &.available
        &:hover
          padding: 0
          //+container-box-shadow
          > .inner
            +container-box-shadow
          .name
            background-color: $bright-green-color
          .primary-info
            color: $red-link-color
          > .pasha-button
            opacity: 1

      &.available
        html.touch &
          > .pasha-button
            opacity: 1




    .option
      @extend %center-content
      height: $option-height
      color: $blue-background-color
      font-size: rem-calc(14)
      text-transform: uppercase
      font-weight: 500
      &:nth-child(2n+1)
        background-color: #f2f2f2
      &:nth-child(2n+2)
        background-color: #ffffff

      .value
        +grid-column(6, $collapse: true)
        @extend %center-content
        height: $option-height
        &:first-child
          border-right: 1px solid white
        &.in-group
          background-color: #f2f2f2
          &:nth-child(2)
            border-bottom: 1px solid white
          &.last-in-group
            border-bottom: none


    .boolean-true
      @extend %boolean-true
    .boolean-false
      @extend %boolean-false


  .option-labels
    @extend %small-gray-text
  .option-label
    @extend %option-label
    height: $option-height
    .help
      color: #808285 !important



  .additional-options
    padding: 0 rem-calc(30)
    clear: left
    padding-top: rem-calc(15)
    padding-left: rem-calc(15)
    label
      @extend %small-gray-text
      color: $gray-text-color
  @media #{$medium-down}
    .plan
      > .inner
        +container-box-shadow
    .panel-content-row
      padding-top: 0
    .invitation-and-option-labels
      width: 50%
    .tabs
      padding: 0 rem-calc(15)  rem-calc(60) rem-calc(15)
      display: block
      .tab
        height: rem-calc(40)
        line-height: rem-calc(40)
        text-align: center
        text-transform: uppercase
        background: white
        width: grid-calc(1, 3)
        display: inline-block
        float: left
        cursor: pointer
        color: #ccc
        font-size: rem-calc(14)
        font-weight: 500



        &.active-mobile-tab, &:hover
          background: $active-tab-background-color
          color: white
    .plans
      width: 50%
      .plan
        width: 100%
        &:not(.active-mobile-tab)
          display: none


.settings-nav-wrap
  background-color: #2E2E36
  width: 100%
  margin-bottom: 30px


  nav
    li
      list-style: none
      //width: 13.5%
      width: calc(25% - 4px )
      display: inline-block
      border-left: 1px solid #27272E

      a
        display: inline-block
        border-left: rem-calc(1) solid #43434D
        height: rem-calc(85)
        padding-top: 0


        @extend %center-content

        .icon
          position: relative
          height: 30px
          margin-bottom: 6px

          svg
            position: relative
            top: 50%
            +transform(translateY(-50%))
            height: rem-calc(34)
            width: 100%
            max-width: 100%
            max-height: 100%
        .title
          height: auto
          b
            position: relative

  @media (min-width : 40.063em) and (max-width : #{em-calc(1445)})
    > .row
      > .columns
        padding-left: rem-calc(85)
        padding-right: rem-calc(85)


.SumoSelectOuter.GraySelectOuter
  float: right
  height: rem-calc(40)

  *
    +transition_all("none !important")
  &:not(.open)
    overflow: hidden

  .SumoSelect
    z-index: 1
    //height: rem-calc(40)
    height: auto
    .CaptionCont
      width: auto
      height: rem-calc(40)
      background: transparent
      color: #D03F4A
      line-height: rem-calc(40)
      font-weight: 400
      border: none
      padding: 0
      margin: 0
      //float: right
      +flexbox

      > span
        padding-right: rem-calc(20)

      label
        +css-triangle(rem-calc(5), $red-link-color, top)
        position: relative
        top: rem-calc(16)
        right: rem-calc(15)
        background: transparent
    .optWrapper
      position: relative
      box-shadow: none
      border: none
      top: 0
      li
        padding: 0 0 0 0
        label
          font-weight: 400

  &.open
    position: relative
    z-index: 2
    .SumoSelect
      background: #ecf0f1
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3)
      padding: 0 rem-calc(27) 0 rem-calc(22)

      .CaptionCont
        display: none
        span
          padding-right: 0
        label
          display: none
      .optWrapper
        background: inherit
        ul.options
          max-height: none
          li
            height: rem-calc(40)
            border: none
            padding: 0
            &.selected
              label
                color:  #D03F4A !important

            &:hover
              background: transparent
            label
              height: rem-calc(40)
              line-height: rem-calc(40) !important
              font-size: 1rem !important
              font-weight: 300
              font-family: "Fira Sans", sans-serif
              color: #808285 !important