.tripadvisor-page-wrap
  .t-result-finding-wrap
    margin-top: 70px
    .t-button-step-wrap
      margin-top: 25px
      display: none
      a.more
        padding: 0 35px
    .trf-one-girl-wrap
      &.selected-girl
        margin-left: auto !important
        margin-right: auto !important
        float: none !important


  .input
    .input-select-date, .input-select-time
      float: left
    .input-select-date
      width: 66.6%
      input
        width: calc(100% - 55px)
        float: left
    .input-select-time
      width: 33.3%
    img
      //height: 35px
      //width: 35px
      margin-left: 10px
      margin-top: 0.125rem
      width: 1.6875rem
      height: 1.875rem
      padding-left: 0
      padding-right: 0
      cursor: pointer
  .t-checkbox-need-transl
    padding-top: 12px
  .tba-one-item
    display: none
    &:first-child
      display: block
  .t-book-apartment-gallery-wrap
    padding-top: 45px

    .tbag-image-preview-wrap
      @media #{$small-only}
        margin-bottom: $column-gutter
      .image
        max-width: 100%
        width: 100%
        height: 0
        padding-bottom: 59%
        overflow: hidden
        -webkit-background-size: cover !important
        -moz-background-size: cover !important
        -o-background-size: cover !important
        background-size: cover !important
        margin: 0 auto
    .tbag-thumbs-wrap
      .tbag-thumbs-inner
        @media #{$small-only}
          +grid-row(nest)
      a
        display: block
        margin-bottom: 15px
        position: relative
        @media #{$small-only}
          +grid-column(4)

        .image
          max-width: 100%
          width: 100%
          height: 0
          padding-bottom: 60%
          overflow: hidden
          -webkit-background-size: cover !important
          -moz-background-size: cover !important
          -o-background-size: cover !important
          background-size: cover !important
          margin: 0 auto
          &:before
            display: block
            content: ''
            position: absolute
            left: 0
            right: 0
            top: 0
            bottom: 0
            background-color: rgba(46, 46, 54, .8)
            @media #{$small-only}
              left: 0.9375rem
              right: 0.9375rem
        &.active
          .image:before
            display: none

  .t-tab-wrap
    margin-bottom: 60px
    display: none
    &.t-find-tab-wrap
      display: block
      .ud-trip-find-one-block
        margin-bottom: 13px
        padding-top: 25px
        .trf-one-girl
          .trf-avatar-wrap
            position: relative
            &:before
              display: block
              content: ""
              position: absolute
              bottom: 0
              height: 4px
              background-color: #96D03F
              width: 100%
            .trf-choose-girl, .trf-selected-girl
              position: absolute
              bottom: 4px
              left: 0
              right: 0
              height: 32px
              background-color: rgba(40, 127, 184, 0.8)
              text-align: center
              line-height: 2rem
              color: #fff
              margin: 0
              padding: 0
              font-size: 0.875rem
              font-weight: 400
              text-transform: uppercase
              cursor: pointer
            .trf-choose-girl
              opacity: 0
              transition: opacity .5s
            .trf-selected-girl
              display: none
          h4
            color: #BEC3C7
            font:
              size: rem-calc(14)
              weight: 500
            line-height: rem-calc(16.8)
          &.offline
            .trf-avatar-wrap:before
              background-color: #D03F4A
          &:hover
            h4
              color: #2E3E51
            .trf-choose-girl
              opacity: 1
          &.ud_selected_girl
            .trf-avatar-wrap
              .trf-selected-girl
                display: block
            h4
              color: #2E3E51
        .image
          max-width: 100%
          width: 100%
          height: 0
          padding-bottom: 100%
          overflow: hidden
          -webkit-background-size: cover !important
          -moz-background-size: cover !important
          -o-background-size: cover !important
          background-size: cover !important
          margin: 0 auto

    .t-find-girl-wrap
      margin-top: 60px
      svg
        width: 50%
        height: 100%
      p
        color: #BEC3C7
        font:
          size: rem-calc(14)
          weight: 500
        line-height: rem-calc(16.8)

      .t-button-step-wrap
        position: relative
        a
          margin: 0
          +my_horizontal_align
            position: absolute
  .t-button-step-wrap
    height: 35px
    //width: 100%
    a
      margin: 0
      font-weight: 500
      //width: 100%
      text-align: center
      &.tm-step-two
        width: 100%
      &.tm-step-three
        width: 136px
  .t-button-finish-step-wrap
    height: 35px
    margin-top: 10px
    a.ud-button
      width: 100%

  .t-prev-step-wrap
    height: 35px
    padding-left: 30px
    margin-top: 10px
    position: relative

    &:before
      display: block
      content: ''
      position: absolute
      left: 0
      top: 8px
      width: 18px
      height: 18px
      background-image: asset_url('UAD-icon-arrow-stepl.svg')
      background-size: 100%
      background-repeat: no-repeat
      background-position: center
    a
      color: #BEC3C7
      font:
        size: rem-calc(18)
        weight: 500
      text:
        transform: uppercase
      line-height: rem-calc(35)
  .t-book-tab-wrap
    b, p
      font:
        size: rem-calc(14)
        family: "Fira Sans", sans-serif
      color: #2E3E51

    b
      font:
        weight: 500
      line-height: rem-calc(16.8)
    p
      font:
        weight: 300
      line-height: rem-calc(18)
    form
      padding-top: 25px
    .t-button-step-wrap
      float: right
      margin-top: 10px
    .white-grey
      margin-bottom: 10px
  .t-book-airport-wrap
    .white-grey
      padding-bottom: 45px

      h4
        margin-top: 30px
        margin-bottom: 20px
        color: #2E3E51
        font:
          size: rem-calc(21)
          weight: 500
        text-transform: uppercase
        line-height: rem-calc(25.2)
  .tp-tab-title
    cursor: pointer
    b
      color: #BEC3C7
      font:
        size: rem-calc(26)
        family: dearjoe_1_msregular
      line-height: rem-calc(43)
      display: inline-block
      margin-bottom: 25px
      &:before
        display: block
        content: attr(data-tab-number)
        font-size: rem-calc(100)
        line-height: rem-calc(100)
        position: relative
        top: 30px
    &.active
      b
        color: #3598DB
.ui-datepicker
  border: none!important
  border-radius: 0 !important
  padding: 0 !important
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35)
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35)
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35)
  .ui-datepicker-header
    background: #3598DB !important
    border: none!important
    border-radius: 0 !important
    a
      .ui-icon
        background-size: 65%
        background-repeat: no-repeat
        background-position: center
      &.ui-datepicker-prev
        .ui-icon
          background-image: asset_url('UD-icon-arrow-up-l-white.svg')
      &.ui-datepicker-next
        .ui-icon
          background-image: asset_url('UD-icon-arrow-up-r-white.svg')
    .ui-datepicker-title
      span
        color: #fff
        font:
          size: rem-calc(12)
          weight: 300
          family: "Fira Sans", sans-serif
        line-height: rem-calc(14.4)
        &.ui-datepicker-month
        &.ui-datepicker-year

  table.ui-datepicker-calendar
    border: none
    thead
      background: transparent
      tr
        th
          span
            color: #3598DB
            font:
              size: rem-calc(16)
              weight: 300
              style: italic
              family: "Fira Sans", sans-serif
            line-height: rem-calc(19.2)
    tbody
      tr
        background: transparent
        td
          a.ui-state-default
            color: #48647C
            text-align: center
            background: transparent
            border: none
            font:
              size: rem-calc(12)
              family: "Fira Sans", sans-serif
              weight: 400
            line-height: rem-calc(34)
            height: 34px
            &.ui-state-highlight
              background: #EDF0F1
            &:hover
              background: #FF6F70
              color: #fff

.t-important-message-wrap
  margin-bottom: 35px
  p
    color: #2E3E51
    font:
      size: rem-calc(12)
      weight: 300
      family: "Fira Sans", sans-serif
    line-height: rem-calc(14.4)
    margin-bottom: 0

.ud-dismiss-wrap
  p
    font-size: 0.75rem
    font-weight: 300
    font-family: "Fira Sans", sans-serif
    color: #2E3E51
    line-height: 0.9rem
    padding-top: 7px
    padding-left: 12px
    a
      color: #D03F4A
      height: auto
      border: none
      display: inline-block
      &.close-reveal-modal
        color: #D03F4A !important
        line-height: 0.9rem !important
        position: static !important
        font:
          weight: 300 !important
          size: 0.75rem !important
