= render partial: "partials/settings/account_settings/profile_data2"
= render partial: "partials/settings/account_settings/buy_credits"
= render partial: "partials/settings/account_settings/my_credit_card"
= render partial: "partials/settings/account_settings/purchase_history"
= render partial: "partials/settings/account_settings/membership_plan2"
= render partial: "partials/settings/account_settings/email_settings"
= render partial: "partials/settings/account_settings/pasword_change"
= render partial: "partials/settings/account_settings/account_deactivation"