= render partial: "partials/settings/notification_settings/notifications"
= render partial: "partials/settings/notification_settings/popup_message"
= render partial: "partials/settings/notification_settings/notification_stickers"
